:root {
  --bs-body-bg: #F8E8A6;
  --bs-body-color: black
}

body {
  color: var(--bs-body-color);
}

h1,
p {
  text-align: center;
}

.recipe {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.croissant-photo {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: green
}